<%= form_for(setlist) do |f| %>
  <% if setlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setlist.errors.count, "error") %> prohibited this setlist from being saved:</h2>

      <ul>
      <% setlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ymd %>
    <%= f.date_select :ymd %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
